Repository leontov/os-main, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kolibri-maintainers, @kolibri-core, @kolibri-qa, @kolibri-docs, @kolibri-ci

update
  kolibri_os/iso/boot/grub/grub.cfg
  kolibri_os/iso/boot/kernel.elf
Owners: @kolibri-maintainers

chore(release): add release draft and checksum for dist/kolibri_selfcontained.tar.gz
  dist/kolibri_selfcontained.tar.gz.sha256
  docs/release_draft.md
Owners: @kolibri-maintainers, @kolibri-docs

ci: add frontend deploy to GitHub Pages (CNAME kolibriai.ru)
  .github/workflows/deploy_frontend.yml
  frontend/CNAME
Owners: @kolibri-ci, @kolibri-maintainers

Create CNAME
  CNAME
Owners: @kolibri-maintainers

Delete CNAME
  CNAME
Owners: @kolibri-maintainers

Create CNAME
  CNAME
Owners: @kolibri-maintainers

Delete CNAME
  CNAME
Owners: @kolibri-maintainers

.github/CODEOWNERS:

# Общие правила
*                       @kolibri-maintainers

# Области
/backend/               @kolibri-core @kolibri-maintainers
/apps/                  @kolibri-core @kolibri-maintainers
/tests/                 @kolibri-core @kolibri-qa
/docs/                  @kolibri-docs @kolibri-maintainers
/.github/               @kolibri-ci @kolibri-maintainers
